{% extends "base.html" %}

{% block content %}
  <p>
  Это <a href="https://dvmn.org/modules/django/">учебный проект.</a>
  </p>
  <p>
    Артём просто обожает активный отдых. Это очень сочетается с его работой: он популярный блогер и регулярно рассказывает о своих мини-путешествиях на камеру. Иногда это посещение музеев и выставок, а иногда просто красивая дверь или урна.

Постоянный поиск "чем заняться" породил у Артёма целую кучу знаний о досуге в своём городе: по пятницам вечером можно встретить футболистов в соседнем дворе, а по вторникам репетиции маленького камерного театра, куда пускают всех желающих. Артём не просто посетил все местные леса и парки: в каждом он знает хорошие поляны для пикников, для сбора грибов, а где-то даже нашлись хорошие фоны для портретов.

Артём поделился со своими читателями всем, что знает сам, но вдруг его осенило: а что, если показать все эти места на карте? Людям легко читать о каких-то местах со своих мониторов и думать "да, сходить бы туда", но если я покажу им, сколько замечательных мест и развлечений есть прямо возле их дома или работы -- это может повлиять куда сильнее!
  </p>

{% endblock %}
