DJANGO_SECRET_KEY=fgkGFqO3afT97HA4yNAJpId5lo8JjusqWSQB190H5drYdrGls
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin_password
DJANGO_SUPERUSER_EMAIL=admin@email.me
DJANGO_SETTINGS_MODULE=server.settings.local
USE_DOCKER=yes
