POSTGRES_DB=where-to-go
POSTGRES_PASSWORD=Z83dGY13auN9
POSTGRES_USER=ONtaHMAlDcGg
DATABASE_URL=postgres://ONtaHMAlDcGg:Z83dGY13auN9@postgres:5432/test_project
DJANGO_SECRET_KEY=9GWNhBHbj6jiJGFDOZxLI+x743UZvrLixJ3VWOvOGiZgk5q7VH
DJANGO_DATABASE_HOST=db
DJANGO_DATABASE_PORT=5432
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin_password
DJANGO_SUPERUSER_EMAIL=admin@email.me
DJANGO_SETTINGS_MODULE=server.settings.local
USE_DOCKER=yes
